<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.fao.mobile.woodidentifier">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".WoodIdentifierApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WoodIdentifier">
        <activity
            android:name=".PictureActivity"
            android:exported="false"
            android:label="Image"
            android:parentActivityName=".SplashActivity" />
        <activity
            android:name=".ModelManagerActivity"
            android:exported="false"
            android:parentActivityName=".SplashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EnterPinActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WoodIdentifier.Fullscreen" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false"
            android:parentActivityName=".SplashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_splash"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WoodIdentifier.Fullscreen" />
        <activity
            android:name=".AboutActivity"
            android:exported="true"
            android:label="@string/about"
            android:parentActivityName=".SplashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:parentActivityName=".SplashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".SplashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImageCaptureActivity2"
            android:parentActivityName=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WoodIdentifier.Fullscreen" />
        <activity
            android:name=".FirstRunActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RecalibrateCameraActivity"
            android:label="@string/camera_calibration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetailsActivity"
            android:parentActivityName=".SplashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WoodIdentifier.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ImageCaptureActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="org.fao.mobile.woodidentifier.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- resource file to create -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>